/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}


 .tabjira table{
   background-color: grey;
 }

 .my-toolbar-page :before {
   display: block;
   content: url("data:image/svg+xml;charset=UTF-8,<svg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 98.38 131.88'><defs><style>.cls-1{fill:#fff;}</style></defs><title>jira</title><path class='cls-1' d='M18.2,37.51s-.94,19.88,28.54,48.83S79.57,127,78,135.16H99.4S101.35,101.57,68.12,78c0,0-22.88-20.35-26.61-36.5,0,0-11.26,0-19.1-6.31C22.42,35.18,18.19,32.64,18.2,37.51Z' transform='translate(-18.19 -4.53)'/><path class='cls-1' d='M63.83,83.43a78.89,78.89,0,0,1,14.6,13.32c2.84-3,6-6.29,9.6-9.79C117.51,58,116.58,37.51,116.58,37.51c0-4.86-4.22-2.17-4.22-2.17-7.84,6.3-19.1,6.46-19.1,6.46C89.53,57.95,66.65,78.61,66.65,78.61c-1.55,1.1-3,2.23-4.4,3.37C63.25,82.91,63.83,83.43,63.83,83.43Z' transform='translate(-18.19 -4.53)'/><path class='cls-1' d='M63.55,114.83A205.24,205.24,0,0,0,48,97.3C34.27,117,35.37,136.41,35.37,136.41H56.81C55.86,131.41,56.64,125.08,63.55,114.83Z' transform='translate(-18.19 -4.53)'/><path class='cls-1' d='M56.59,43.28H77.83s2.78-.39,2.1,3.28C79,51.8,67.5,62.39,67.5,62.39s-8.38-7.79-12.12-15.1C55.38,47.29,53.87,43.28,56.59,43.28Z' transform='translate(-18.19 -4.53)'/><circle class='cls-1' cx='77.18' cy='16.79' r='9.28'/><circle class='cls-1' cx='22.5' cy='16.79' r='9.28'/><circle class='cls-1' cx='50.38' cy='9.28' r='9.28'/></svg>");
   background-size: 28px 28px;
   height: 10px;
   width: 13px;
   margin-bottom: 15px;
 }

 .my-toolbar-page :hover::before {
   content: url("data:image/svg+xml;charset=UTF-8,<svg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 98.38 131.88'><defs><style>.cls-1{fill:orange;}</style></defs><title>jira</title><path class='cls-1' d='M18.2,37.51s-.94,19.88,28.54,48.83S79.57,127,78,135.16H99.4S101.35,101.57,68.12,78c0,0-22.88-20.35-26.61-36.5,0,0-11.26,0-19.1-6.31C22.42,35.18,18.19,32.64,18.2,37.51Z' transform='translate(-18.19 -4.53)'/><path class='cls-1' d='M63.83,83.43a78.89,78.89,0,0,1,14.6,13.32c2.84-3,6-6.29,9.6-9.79C117.51,58,116.58,37.51,116.58,37.51c0-4.86-4.22-2.17-4.22-2.17-7.84,6.3-19.1,6.46-19.1,6.46C89.53,57.95,66.65,78.61,66.65,78.61c-1.55,1.1-3,2.23-4.4,3.37C63.25,82.91,63.83,83.43,63.83,83.43Z' transform='translate(-18.19 -4.53)'/><path class='cls-1' d='M63.55,114.83A205.24,205.24,0,0,0,48,97.3C34.27,117,35.37,136.41,35.37,136.41H56.81C55.86,131.41,56.64,125.08,63.55,114.83Z' transform='translate(-18.19 -4.53)'/><path class='cls-1' d='M56.59,43.28H77.83s2.78-.39,2.1,3.28C79,51.8,67.5,62.39,67.5,62.39s-8.38-7.79-12.12-15.1C55.38,47.29,53.87,43.28,56.59,43.28Z' transform='translate(-18.19 -4.53)'/><circle class='cls-1' cx='77.18' cy='16.79' r='9.28'/><circle class='cls-1' cx='22.5' cy='16.79' r='9.28'/><circle class='cls-1' cx='50.38' cy='9.28' r='9.28'/></svg>");

 }



#med {
 color:red;
}
.jira-list table, .jira-list th, .jira-list td {
  border: 1px solid black;
  border-collapse: collapse;
}
.jira-list table tr:nth-of-type(2n) {background-color: #DCDCDC;}
.jira-list th {background-color:#018DB1;font-weight:bold;color:#fff;}
.jira-list td {text-align: center;}



/* The Modal (background) */
.modalUpdate, .modalView, .modalrole, .modalrename{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #f0f2fa;
  margin: auto;
  margin-left: 20%;
  padding: 20px;
  border: 1px solid #888;
 /* width: 65%;*/
}

/* The Close Button */
.close,.close2,.close3 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,.close:focus,
.close2:hover,.close2:focus,
.close3:hover,.close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

//tooltip
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

//PROGRESS lINE//
.modal-content ul{
	width: 100px;
	margin-left: 500px;
}
.timeline {
  position: relative;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline .li {
  transition: all 200ms ease-in;
}

.timeline .timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.timeline .status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
}
.timeline .status h4 {
  font-weight: 900;
}
.timeline .status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}

.timeline .li.complete .status {
  border-top: 2px solid #66DC71;
}
.timeline .li.complete .status:before {
  background-color: #66DC71;
  border: none;
  transition: all 200ms ease-in;
}
.timeline .li.complete .status h4 {
  color: #66DC71;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }

  .timeline .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }

  .timeline .timestamp {
    width: 100px;
  }
}

/*Comment Section*/
.comments {
  background-color: #f0f2fa;
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #555f77;
  -webkit-font-smoothing: antialiased;
}

.comments input,.comments textarea {
  outline: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  color: #555f77;
}
.comments input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ced2db;
}
.comments input::-moz-placeholder, textarea::-moz-placeholder {
  color: #ced2db;
}
.comments input:-moz-placeholder, textarea:-moz-placeholder {
  color: #ced2db;
}
.comments input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #ced2db;
}

.comments p {
  line-height: 1.3125rem;
}

.comments {
  margin: 2.5rem auto 0;
  max-width: 60.75rem;
  padding: 0 1.25rem;
}

.comment-wrap {
  margin-bottom: 1.25rem;
  display: table;
  width: 100%;
  min-height: 5.3125rem;
}

.photo {
  padding-top: 0.625rem;
  display: table-cell;
  width: 3.5rem;
}
.photo .avatar {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-size: contain;
}

.comment-block {
  padding: 1rem;
  background-color: #fff;
  display: table-cell;
  vertical-align: top;
  border-radius: 0.1875rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}
.comment-block textarea {
  width: 100%;
  resize: none;
}

.comment-text {
  margin-bottom: 1.25rem;
}

.bottom-comment {
  color: #acb4c2;
  font-size: 0.875rem;
}

.comment-date {
  float: left;
}

.comment-actions {
  float: right;
}
.comment-actions li {
  display: inline;
  margin: -2px;
  cursor: pointer;
}
.comment-actions li.complain {
  padding-right: 0.75rem;
  border-right: 1px solid #e1e5eb;
}
.comment-actions li.reply {
  padding-left: 0.75rem;
  padding-right: 0.125rem;
}
.comment-actions li:hover {
  color: #0095ff;
}



/*********** Tags Roles ***********/
.tags {
  zoom: 1;
  height: 100%;
  min-height: 50px;
}

.tags:before, .tags:after {
  content: '';
  display: table;
}

.tags:after {
  clear: both;
}

.tags li {
  position: relative;
  float: left;
  margin: 0 0 8px 12px;
  margin: 10px;
}

.tags li:active {
  margin-top: 1px;
  margin-bottom: 7px;
}


.tags a, .tags span {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tags a {
  padding: 0 9px 0 8px;
  color: #555;
  text-decoration: none;
  background: #fff;


  font-family: Poppins-Regular;
  font-size: 12px;
  line-height: 2.2;
  font-weight: bold;


  /*border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #dadada #d2d2d2 #c5c5c5;
  border-radius: 3px 0 0 3px;*/
  /*background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: -o-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);*/
}
 .tags li a:hover{
  text-shadow: 0 1px grey;
  background-color: #f2f2f2;
 }
/*.tags a:hover span {
  padding: 0 7px 0 6px;
  max-width: 40px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
}*/

.tags span {
  position: absolute;
  top: 1px;
  left: 100%;
  z-index: 2;
  overflow: hidden;
  max-width: 0;
  height: 100%;
  line-height: 21px;
  padding: 0 0 0 2px;
  color: white;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: #eb6b22;
  border: 1px solid;
  border-color: #d15813 #c85412 #bf5011;
  opacity: .95;
  background-image: -webkit-linear-gradient(top, #ed7b39, #df5e14);
  background-image: -moz-linear-gradient(top, #ed7b39, #df5e14);
  background-image: -o-linear-gradient(top, #ed7b39, #df5e14);
  background-image: linear-gradient(to bottom, #ed7b39, #df5e14);
  /*-webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transition-property: padding, max-width;
  -moz-transition-property: padding, max-width;
  -o-transition-property: padding, max-width;
  transition-property: padding, max-width;*/
}

.green span {
  background: #65bb34;
  border-color: #549b2b #4f9329 #4b8b27;
  background-image: -webkit-linear-gradient(top, #71ca3f, #5aa72e);
  background-image: -moz-linear-gradient(top, #71ca3f, #5aa72e);
  background-image: -o-linear-gradient(top, #71ca3f, #5aa72e);
  background-image: linear-gradient(to bottom, #71ca3f, #5aa72e);
}

.blue span {
  background: #56a3d5;
  border-color: #3591cd #318cc7 #2f86be;
  background-image: -webkit-linear-gradient(top, #6aaeda, #4298d0);
  background-image: -moz-linear-gradient(top, #6aaeda, #4298d0);
  background-image: -o-linear-gradient(top, #6aaeda, #4298d0);
  background-image: linear-gradient(to bottom, #6aaeda, #4298d0);
}

/*//Categories//*/

.homes-list {
  list-style-type: none;
  position: relative;
  padding-top: 0px !important;
  width: 200px;
  background-color: #f1f1f1;
  margin-top: 0px;

}

.homes-list li {
  font-family: Poppins-Medium;
  text-align: center;
  color: #000;
  font-weight: lighter;
  /*font-size: 18px;
  line-height: 18px;
  */float: left;
  cursor: pointer;
  width: 100%;
  margin:0px;
}

.homes-list span {
  overflow: hidden;
  display: block;
  font-size: 14px;
  margin-left: 0;
  white-space: nowrap;
  border-radius: 4px;
  float: left;
  padding: 3px;
  width: 100%;
}

.homes-list li:hover {
   background-color: #ccc;
}
.homes-list li.active {
   background-color: #34495e;
    color: white;
}

/*.homes-list .single-storey {
  background: #F6672E;
}

.homes-list .double-storey {
  background-color: #009BD4;
}

.homes-list .house-and-land {
  background-color: #ff3232;
}

.homes-list .develop-subdivide {
  background-color: #FFB200;
}

.homes-list .land-estate {
  background-color: #8F5A9F;
}

.homes-list .apartments {
  background-color: #4EC9BE;
}

.homes-list .custom-built {
  background-color: #B7AEAC;
}

.homes-list .luxury-homes {
  background-color: #3A537C;
}
*/


/*//SETTING TABS*/

.signinform{
  cursor: pointer;
  float: right;
  text-decoration: underline;
}


.nav-tabs, .nav-form {
  float: left;
  width: 100%;
   margin:0;
  list-style-type: none;
  border-bottom: 1px solid #ddd;
  display: inline;
}
.nav-form li{
  display: inline-block;
}

.nav-form > li {
  width: 285px;
  border-radius: 10px;
  overflow: hidden;
  padding: 0px 55px 37px 55px;
  margin-left: 10%;

  background: #9152f8;
  background: -webkit-linear-gradient(top, #ffb547, #ff6363);
  background: -o-linear-gradient(top, #ffb547, #ff6363);
  background: -moz-linear-gradient(top, #ffb547, #ff6363);
  background: linear-gradient(top, #ffb547, #ff6363);

}
.nav-tabs > li  {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.5;
  padding:10px;
  border:1px solid transparent;
  border-radius: 4px;
  float: left;
  text-decoration: none;
}

.nav-tabs > li > a:hover{
  border-color: #eee #eee #ddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
  color: #555;
  cursor: default;
  background-color: #fff;
  border-color: #ddd;
  border-bottom-color: transparent;
}

.tab-content > .tab-pane {
  float:left;
  min-width:  95%;
  height: 500px;
  display: none;
}
.tab-content > .tab-pane.active{
  display: block;
  padding:10px;
  background-image: url('../img/kantoor-1.jpg');
  background-size: contain;
  background-position: 100%;
  box-shadow: 0 5px 4px -2px rgba(0,0,0,0.15);
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/


/*---------------------------------------------*/

.limiter a:hover {
  text-decoration: none;
  color: #fff;
}

/*---------------------------------------------*/


.login100-form-logo {
  font-size: 60px; 
  color: #333333;
  background-image: url("../img/foursites.jpeg");
  background-size: contain;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 20px;
}
/*---------------------------------------------*/
.limiter input {
  outline: none !important;
  border: none !important;
  color: white;
}

.limiter input:focus {
  border-color: none !important;
  color: white;
  outline: none !important;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}

.limiter input:focus::-webkit-input-placeholder { color:transparent !important ; }
.limiter input:focus:-moz-placeholder { color:transparent !important; }
.limiter input:focus::-moz-placeholder { color:transparent !important; }
.limiter input:focus:-ms-input-placeholder { color:transparent !important; }

.limiter input::-webkit-input-placeholder { color: #fff;}
.limiter input:-moz-placeholder { color: #fff;}
.limiter input::-moz-placeholder { color: #fff;}
.limiter input:-ms-input-placeholder { color: #fff;}


/*form button*/

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #555555;
  line-height: 1.2;
  margin-left: 27%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;
  border-color: white;
  border: 3px;

  background: #ff6363;

  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #fff;
  top: 0;
  left: 0;
  opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  color: #fff;
  border-style: solid;
}

.login100-form-btn:hover:before {
  opacity: 0;
}

.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #e5e5e5;
  line-height: 1.5;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255,255,255,0.24);
  margin-bottom: 30px;
}

.input100 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent !important;
  padding: 0 5px 0 38px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
font-family: dashicons;
content: "";
color: #f15123;
display: inline-block;
-webkit-font-smoothing: antialiased;
font: normal 20px/1;
vertical-align: top;
margin-right: 5px;
margin-right: 0.5rem;

  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #fff;



}

.focus-input100::after {
  font-family: dashicons;
  font-size: 22px;
  color: #fff;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus {
  padding-left: 5px;
}

.input100:focus + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.input100:focus + .focus-input100::before {
  width: 100% ;
}

.has-val.input100 + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.has-val.input100 {
  padding-left: 5px;
}

.wrap-login100 {
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  padding: 25px 5px 7px 5px;

}

/*create issue form*/
.createform{
  background-color: #fff;
  width: 600px;
  height: 500px;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.createform th{
  display: none;
}
.ttl{
  font-family: Poppins-Regular;
  font-size: 22px;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 20px
}
.tt2{
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 1.2;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  text-align: center;
  margin-top: 0px;
}
.tt3{
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 2.2;
  font-weight: bold;
}

.input101 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #000;
  line-height: 1.2;
  width: 100%;
}
.createform select{
  height: 100%;
}
.rowform{
  display: inline-table;
}
.selectforms{
  width: 100%;
}
.pickme{
  float: right;
  width: 50%;
}


.login101-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: white;
  line-height: 1.2;
  margin-top: 10px;
  float: right;
 /* display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;*/
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  min-width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 3px;
  background: #2ECC71;
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login101-form-btn:hover {
  background-color: #27AE60;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.roletable{
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 95%;
}
.optable{
  width: 95%;
  margin:10px 0 10px 0;
}
.firstrow {
 height: 100%;
 border-bottom: 1px solid grey;
}
.secondrow{
}
.input102 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  width: 100%;
  height: 100%;
  background-color:  #34495e;
  border-style: hidden;
  
}
.selrole{
  background-color: #34495e;
  height: 100%;
  font-weight: bolder;
  cursor: pointer;
  border-radius: .25em;
}
.tablist{
  background-color:white;
  min-height: 500px;
  height: 100%;
  padding: 0px !important;
  margin-top: 0px;
  vertical-align: top;
}
.greentab{
  box-shadow: inset 1px 1px 34px 0px green;
  height:100px;
  width: 800px;
}
.redtab{
  box-shadow: inset 1px 1px 34px 0px  red;
  height:100px;
  width: 800px;
}

.login102-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: white;
  line-height: 1.2;
  justify-content: center;
  align-items: center;
  min-width: 110px;
  height: 40px;
  border: 3px;
  background-color: #34495e;
  /*background: #9152f8;
  background: -webkit-linear-gradient(top, #ffb547, #ff6363);
  background: -o-linear-gradient(top, #ffb547, #ff6363);
  background: -moz-linear-gradient(top, #ffb547, #ff6363);
  background: linear-gradient(top, #ffb547, #ff6363);
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;*/
   border-radius: .25em;
}

.login102-form-btn:hover {
  background-color: #27AE60;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.searchrole{
  width: 100%;
  height: 100%;
}
.boxescat{
  height: 100%;
  max-width: 50px;
}
.addrole{
  width: 40%;
   position: fixed;
   top: 50%;
   left: 40%;
   transform: translate(-50%, -50%);
}
.addrole th{
display: none;
}


/*fsdp header*/

.fsdp-header{
  width: 98% !important;
  height: 70px;
  padding: 0;
  margin-right: 20px;
  margin-top: 0; 
  box-shadow:0 2px 5px 0 rgba(0,0,0,.26);

}
.fsdp-logo{
  background-image: url("../img/fsdp-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10px;
    margin-left: 30px;
    height: 50px;
    width: 250px;
    position: absolute;
  }
/*settings stat*/

.rad-gauge-box{
  background-color: #5271C2;  
  margin-bottom:16px;
  box-shadow:1px 1px 2px 0 #CCCCCC;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
  height: 100%;
  width: 10%;
  display: inline-block;
}

.rowstat .rowsgauge{
  width: 100%;
  position: relative;
  margin: 0;
}
.rowstat ul .rowsgauge ul{
 list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    float: left;
  }

 .rowsgauge li{
display: inline-block;
/*list-style-type: none;
padding-right: 20px;*/
float: left;
/*width: 20%;*/
} 
.rowstat li{
display: inline-block;
margin: 0 20px 0 20px;
width: 20%;
}

.card-info{
  font-family: Poppins-Medium;
  display: table-cell;
  font-size: 16px;
  color:  #20283E;
  text-align: center;
  vertical-align: middle;
}
.rad-info-card{  
  margin-bottom:16px;
  box-shadow:1px 1px 2px 0 #CCCCCC;
  padding:5px 20px 20px 20px ;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
  width: 250px;
  margin: 0 20px 0 20px;
}
.rad-info-box{  
  margin-bottom:16px;
  box-shadow:1px 1px 2px 0 #CCCCCC;
  padding:5px 20px 20px 20px ;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
  background:$base-color !important;
}

.rad-info-box i{
  display:block;
  background-clip:padding-box;
  margin-right:15px;
  margin-top: 0;
  padding: 0;
  width:60px;
  border-radius:100%;
  text-align:center;
  font-size:4.4em;
  /*position:absolute;  */
}


.panel-heading {
  border-radius: 0;
  border-bottom: 0 !important;
  background-color: grey !important;
}
.panel-heading i{
  border-radius: 0;
  border-bottom: 0 !important;
  font-size:1.4em;
  width: 20px;
  height: 10px;
}

.panel-heading .panel-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  color: #515d6e;
  padding: 0 ;
  margin: 0;
}



.rad-info-box .value,
.rad-info-box .heading{
  display:block;  
  position:relative;
  color: $text-color;
  text-align:right;
  z-index:10;
}

.rad-info-box .heading{
  font-size:1.2em;
  font-weight:300;
  text-transform:uppercase;
}

.rad-info-box .value{
  font-size:2.1em;
  font-weight:600;
  margin-top:5px;
}


.rad-txt-primary{
  color:#1C7EBB;
}
.rad-bg-primary{
  background:#1C7EBB;
}
.rad-txt-success{
  color:#23AE89;
}
.rad-bg-success{
  background:#23AE89;
}
.rad-txt-danger{
  color:#E94B3B;
}
.rad-bg-danger{
  background:#E94B3B;
}
.rad-txt-warning{
  color:#F98E33;
}